header {
    background: #f5f5f5;
    height: 52px;
    color: #9d9d9d;
    box-shadow: 0 1px 1px 0px rgba(0,0,0,0.5);
    margin-bottom: 20px;
    a {
        color: #9d9d9d;
        -webkit-transition: 0.2s ease;
        transition: 0.2s ease;
        &:hover {
            color: #333;
        }
    }
    .wrapper {
        width: 1140px;
        margin: 0 auto;
        line-height: 52px;
        .brand {
            font-size: 18px;
        }
        small {
            margin-left: 26px;
            font-size: 14px;
        }
        .menu{
            display: none;
        }
        nav {
            float: right;
            ul {
                font-size: 0;
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    font-size: 14px;
                    display: inline-block;
                    -webkit-transition: 0.2s ease;
                    transition: 0.2s ease;
                    a {
                        display: inline-block;
                        padding: 0 10px;
                        height: 52px;
                        &:hover {
                            background-color: #c0ddc7;
                        }
                        i {
                            margin-right: 5px;
                        }
                    }
                    >.active {
                        color: #333;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1200px) and (min-width: 770px) {
    header {
        height: 50px;
        .wrapper {
            width: 90%;
            line-height: 50px;
            .brand {
                font-size: 16px;
            }
            small {
                margin-left: 15px;
                font-size: 12px;
            }
            .menu{
                display: none;
            }
            nav {
                ul {
                    li {
                        a {
                            padding: 0 8px;
                            height: 50px;
                            i {
                                margin-right: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 770px) {
    header {
        height: 48px;
        margin-bottom: 15px;
        .wrapper {
            width: 95%;
            margin: 0 auto;
            line-height: 48px;
            position: relative;
            z-index: 101;
            .brand {
                font-size: 16px;
            }
            small {
                margin-left: 10px;
                font-size: 12px;
            }
            .menu{
                display: inline-block;
                position: absolute;
                z-index: -102;
                right: 0;
                top:10px;
                padding: 5px 10px;
                background: #f5f5f5;
                border: 1px solid #333;
                border-radius: 4px;
                color: #c9c9c9;
                font-size: 17px;
                -webkit-transition: 0.4s ease;
                transition: 0.4s ease;
            }
            >.active{
                background: #c0ddc7;
                color: #fff;
            }
            .nav-show{
                visibility: visible;
                transform: scale(1);
                opacity: 1;
            }
            nav {
                position: absolute;
                z-index: 100;
                right:0;
                top:47px;
                text-align: center;

                visibility: hidden;
                transform-origin: 100% 0%;
                transform: scale(0.1);
                opacity: 0;
                transition: 0.2s cubic-bezier(0.5, 0.1, 0.51, 1.38);
                ul {
                    background: #f5f5f5;
                    border-radius: 0 0 4px 4px;
                    li {
                        font-size: 14px;
                        display: block;
                        border-bottom: 1px solid #333;
                        a {
                            display: block;
                            padding: 0 10px;
                            height: 40px;
                            line-height: 40px;
                        }
                        &:last-of-type{
                            border: none;
                        }
                        >.active {
                            background-color: #c0ddc7;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}
