<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

        {{ content }}

    {% include footer.html %}
    {% include backToTop.html %}
    <script src="{{ " /js/main.js " | prepend: site.baseurl }}" charset="utf-8"></script>
    <script src="{{ " /js/scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script>
    <script type="text/javascript" src="/js/code/prettify.js"></script>
    <script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript">
      $(function(){
        $("pre").addClass("prettyprint linenums");
        prettyPrint();
        $('.entry a').each(function(){
          if($(this).attr("href").indexOf("vsooda") == -1){
            $(this).attr("target", "_blank");
          }
        })
      });
    </script>
  </body>

</html>
